body {
    margin-top: 0;
    background-repeat: no-repeat;
    background-size:cover;
}

.row {
    margin-top:5px;
    margin-bottom: 5px;
    height: 40px;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.page-header {
    margin-top: 0px;
}

.tight {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.AppTitle {
    color: #fff;
    background-color: #337ab7;
    margin: 0 0 0 0;
    padding-top: 5px;
    height: 50px;
}

.AppTitle h1 {
    margin: 0 0 0 0;
    font-size: 30px;
}

.AppTitle h2 {
    margin: 0 0 0 0;
    font-size: 20px;
}

.InfoMessage {
}

.InfoTarget {
}

.valuePanel {
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height:100%;
}

.valueLabel {
    font-size: 12px;
}

.valueItem {
    font-size: 20px;
    width: auto;
}

.editable {
    border: 0px;
    background-color: transparent;
}

.editable:focus {
    border: 1px;
    background-color: white;
}

#infoWindow p {
    margin: 0 0 0 0;
}

.boxed {
    border: 1px solid;
}